# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitattributes
.mypy_cache/
.pytest_cache/
.hypothesis/

# Flask / Instance folder
instance/
.webassets-cache

# General
.idea/
.vscode/
*.swp
*.swo

# Node (in case any exist at root level)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
